.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
tsconfig.json
scripts/build/**
.gitignore
images/docs/**
testprojects/**
TestPlan.md
.github/**
tsconfig.json
tslint.json
packages
package-lock.json
node_modules
webpack.config.js
.DS_Store